@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos da página principal */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}



.wrapper {
    display: flex;
    min-height: 92vh;  /*A altura da tela inteira  */
}

.wrapper div{
    width: 100%;
}

/* Estilos da barra de topo */
.topbar {
    background-color: #161925;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Largura total da parte superior */
    /* box-shadow: -7px 15px 16px -7px rgba(0,0,0,0.75); */
}

.topbar div:nth-child(1){
    width: 10%;
    display: flex;
    justify-content: center;
}

.topbar div:nth-child(1) img{
    cursor: pointer;
    width: 85%;
}

.topbar h1 {
    font-size: 24px;
    color: #fff;
}


.user-menu{
    display: flex;
    align-items: center;
}

.user-menu img{
    width: 20%;
}

.user-menu a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
}

.user-menu a:hover{
    opacity: 0.7;
    /* border-bottom: 3px solid #c2c2c2; */
}


/* Estilos da barra lateral esquerda (menu) */
.sidebar {
    width: 12%;
    background-color: #161925;
    color: #fff;
    /* box-shadow: 11px -3px 16px -7px rgba(0,0,0,0.75); */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li:nth-child(1){
    margin-top: 20%;
}

.sidebar li {
    margin-bottom: 15%;
    margin-top: 10%;
}

.sidebar li:hover{
    border-left: 3px solid #c2c2c2;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    padding: 0 20px ;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.sidebar a:hover{
    opacity: .8;
} 

.sidebar div{
    margin: 2% 0;
}

.sidebar div img{
    width: 80%;
}

/* Estilos da área de administração (conteúdo) */


table img{
    width: 40%;
}




/* Formulario INSERIR SERVIÇO */

.card-info{
    /* background: linear-gradient(45deg, #d8d8d8, transparent); */
    border: none;
}

form{
    width: 50%;
    margin: 0 auto;
    /* padding: 20px;
    border-radius: 10px 25px;
    background: linear-gradient(248deg, white, transparent); */
    /* box-shadow: 10px 9px 19px 0px rgba(0,0,0,0.45); */
}

form div div div img{
    cursor: pointer;
    width: 30%;
    margin: 20px;
}

label {
    display: block;
    margin-top: 10px;
}
input[type="text"], input[type="file"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px;
    resize: none;
}
.checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.submit-button {
    display: block;
    margin-top: 10px;
}

.checktitu{
    display: flex;
    flex-direction: row;
}


tbody tr td a i{
    font-size: 30px;
    color: red;
    text-align: center;
}

tbody tr td a i:hover{
    opacity: 0.7;
    color: rgb(179, 0, 0);
}

.row h1{
    margin-bottom: 40px;
}

.btno{
    display: flex;
}

.btno h2{
    padding-right: 20px;
}



.login{
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-login{
    width: 50%;
}